header{
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: white;
}

nav li{
    border-bottom: 20px;
}
ul li{
    padding-bottom: 30px;
    border-bottom: 5px solid #F2F2F2;
}
ul li:hover{
    border-top: 3px solid white;
}
ul li:active{
    color:#0065FC;
    border-bottom: 5px solid #0065FC;
}

#fondRecherche{
    display: none; 
}
#filtres{
    flex-direction: column;
    align-items: baseline; /*  marche pas */
}
.filtremob, .bloc, #bloc3, footer{
    flex-direction: column;
    width: 100%;
}
#section2{
    flex-direction: column-reverse;
}

.carré{
    width: 90%; /*  marche pas */
}
#hebergements{
    width: 100%; /*  marche pas */
}

footer{
    padding-left: 20px;
}
#hebergements{
    width: 100%;
}
aside{
    width: 100%;
}