body{
    min-width: 0px;
}
header{
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: white;
}

nav li{
    border-bottom: 20px;
}
ul li{
    padding-bottom: 30px;
    border-bottom: 5px solid #F2F2F2;
}
ul li:hover{
    border-top: 3px solid white;
}
ul li:active{
    color:#0065FC;
    border-bottom: 5px solid #0065FC;
}

#fondRecherche{
    display: none; 
}
#fondloupe{
    display: block;
    padding: 22px 26px 22px 26px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    width: 25px;
}
#filtres{
    flex-direction: column;
    align-items: baseline;
}
#blocfiltre{
    flex-direction: column;
}
#blocfiltre p{
    width: 200px;
    font-size: 1.1em;
}
.bloc, #bloc3, footer{
    flex-direction: column;
    width: 100%;
}

#section2{
    flex-direction: column-reverse;
}

.carré, #bloc3 a{
    width: 90%;
    margin-bottom: 30px;
}

footer{
    padding-left: 20px;
}
#hebergements{
    width: 100%;
    background-color: white;
}
aside, #section3{
    width: 100%;
    border-radius: 0;
    margin: 0;
}
#afficher{
    display: none;
}
.carré2{
    height: 230px;
}
